.header {
  align-items: center;
  color: #211A1D;
  justify-content: space-between;
  display: flex;
  font-family: 'Nixie One', cursive;
  padding: 0 30px;
  letter-spacing: 0.5px;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  border-bottom: 1px solid #C3C9C3;
  height: 60px;
  background-color: #FFF;
  z-index: 100;
}

.headerBuffer {
  height: 60px;
}

.nav {
  align-items: center;
  display: flex;
}

.link {
  cursor: pointer;
  transition: color 100ms ease-in;
}

.link:hover {
  color: #BF1619;
}

.link + .link {
  margin-left: 30px;
}
