html {
  background-color: #FFF;
}

.weddingDetails {
  font-family: 'Nixie One', cursive;
}

p {
  margin: 0;
}

.section {
  font-weight: 300;
  margin: 140px auto;
  padding: 30px;
  position: relative;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero {
  color: #fff;
  display: flex;
  height: 100vh;
  align-items: flex-end;
  justify-content: center;
  text-align: center;
  max-height: 700px;
}

.heroText {
  padding: 70px;
  width: 100%;
}

/*.hands {*/
  /*background: url('./pics/hand-hold.jpg') no-repeat;*/
  /*background-position: 50% 0%;*/
/*}*/

/*.cas {*/
  /*background: url('./pics/so-cas.jpg') no-repeat;*/
  /*background-position: 50% 0%;*/
/*}*/

/*.garage {*/
  /*background: url('./pics/garage2.jpg') no-repeat;*/
  /*background-position: 50% 0%;*/
/*}*/

/*.lookback {*/
  /*background: url('./pics/look-back.jpg') no-repeat;*/
  /*background-position: 50% 0%;*/
/*}*/

.heroTitle {
  font-size: 80px;
  font-family: 'Monsieur La Doulaise', cursive;
  margin-bottom: -25px;
}

.heroSubtitle {
  font-size: 20px;
  font-weight: lighter;
  color: white;
}

.title {
  font-size: 80px;
  font-family: 'Monsieur La Doulaise', cursive;
  font-weight: 400;
  margin: 0 0 50px;
}

.eventTitle {
  margin: 20px 0 0;
}

.mapContainer {
  height: 300px;
}

.column {
  display: inline-block;
  vertical-align: middle;
  width: 400px;
}

.column + .column {
  margin-left: 50px;
}

.column p + p {
  margin-top: 20px;
}

.pin {
  display: inline-block;
  font-size: 14px;
  width: 100px;
  text-align: center;
}

.link {
  color: black;
}

.logoWrapper {
  border: 1px solid black;
  display: inline-flex;
  height: 120px;
  width: 400px;
  align-items: center;
  justify-content: center;
}

.logo {
  width: 300px;
}
